*{
	/*CSS RESET	*/
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h2, h3, h4 {
	margin-top: 10px;
	margin-bottom: 10px;
	

}
/*block element:s
	1. cannot placed next to each other
	2. can adjust width and height*/

#div-3 {
	background-color: skyblue;
	border:	2px solid black;
	height: 200px;
	width: 200px;
	display: inline;
}

#div-4 {
	background-color: aquamarine;
	border:	2px solid black;
	height: 200px;
	width: 200px;
	display: inline-block;
}


/* Inline elements 
	1. can placed next to each other
	2. cannot adjust width and height*/
#span-3 {
	background-color: gray;
	border:	2px solid black;
	/*height: 200px;
	width: 200px;*/
	display:block;
}

#span-4 {
	background-color: brown;
	border:	2px solid black;
	/*height: 200px;
	width: 200px;*/
	display:block;
}

#span-5 {
	background-color: yellow;
	border:	2px solid black;
	height: 200px;
	width: 200px;
	display:inline-block;
}

#span-6 {
	background-color: orange;
	border:	2px solid black;
	height: 200px;
	width: 200px;
	display:inline-block;
}

#div-7{
	background-color: aquamarine;
	border: 2px solid black;
}

#div-8{
	background-color: lightcyan;
	border: 2px solid black;
}

#span-7{
	background-color: lightgreen;
	border: 2px solid black;
}

.box {
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent {
	width: 50%;
}

.one-hundred-pixels {
	width: 100px;
}

.parent {
	width: 135px;
	border:2px solid navy;
	font-size: 30px;
}

.one-rem{
	font-size: 1rem;
}

.one-em{
	font-size: 1em;
}

.two-rem{
	font-size: 2rem;
}

.two-em{
	font-size: 2em;
}

.two-hundred-percent{
	font-size: 200%;
}

.background {

	/* vh - view height, vw - view width	*/
	/*	vh, vw - relative to the size of the view port */
	min-height: 100vh;
	/*	width: 50vw;*/
/*	background-color: grey;*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	/*background-repeat to prevent filling the container by repeating the image*/
	background-repeat: no-repeat;
	/*to occupy the whole container*/
	background-size: 100%;

/*	background-position: center bottom;*/
	background-attachment: fixed;
}


.container-bg {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100vh;
}

.bg-title{
	color:white	;
	text-align: center;	
	font-size: 5em;
	margin:0;
	line-height: 50rem;
}